<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Resource/UI/button_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,461},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>Resource/UI/button_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,452},{160,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,60}</string>
			</dict>
			<key>Resource/UI/button_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,452},{160,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,60}</string>
			</dict>
			<key>Resource/UI/heart_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,154},{58,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,55}</string>
			</dict>
			<key>Resource/UI/heart_left_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,461},{32,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,55}</string>
			</dict>
			<key>Resource/UI/button_orange_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,452},{160,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,60}</string>
			</dict>
			<key>Resource/UI/button_orange_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,452},{160,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,60}</string>
			</dict>
			<key>Resource/UI/button_purchase_noAd_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,0},{154,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,74}</string>
			</dict>
			<key>Resource/UI/button_purchase_noAd_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,154},{154,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,74}</string>
			</dict>
			<key>Resource/UI/button_purchase_noAd_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{154,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,74}</string>
			</dict>
			<key>Resource/UI/button_GameCenter_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{133,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,130}</string>
			</dict>
			<key>Resource/UI/button_GameCenter_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,133},{133,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,130}</string>
			</dict>
			<key>Resource/UI/button_Achievement_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{133,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{133,130}</string>
			</dict>
			<key>Resource/UI/button_Achievement_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_disable_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,399},{266,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,62}</string>
			</dict>
			<key>Resource/UI/button_down_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,390},{266,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,62}</string>
			</dict>
			<key>Resource/UI/button_Setting_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,130},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Setting_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,260},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_up_long.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,390},{266,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,62}</string>
			</dict>
			<key>Resource/UI/button_Leaderboard_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Leaderboard_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,130},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Upgrade_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,260},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Upgrade_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Pause_down.png.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Pause_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,130},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_MusicOff_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,130},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_MusicOff_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,260},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_MusicOff_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,260},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Music_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,260},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Music_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,0},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>Resource/UI/button_Music_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,228},{130,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>UI.png</string>
			<key>realTextureFileName</key>
			<string>UI.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>